{{!-- This is the front page with games listed  as links--}}
<h1>Awesome Games</h1>


<ul>
    {{#each games}}
    <li>
        <a href={{this.href}}>{{this.gameTitle}}</a>
    </li>
    {{/each}}
</ul>

<script src={{this.jsfile}}></script>